{{> head}}


{{> navbar}}
<div class="row">
    <div class="col-9">
        <h1>Aprendiendo Nodejs</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus non ex nihil, vero quo exercitationem aperiam veritatis laboriosam praesentium laborum, nulla nesciunt tempore iste voluptates ipsam aut unde. Id, ratione?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet, quasi rem est sit molestias delectus, minima corrupti veniam necessitatibus, omnis fugiat nihil voluptatem repellat beatae. Dicta sapiente id debitis ipsam!</p>
    </div>
    <div class="col-3">
        <img src="assets/img/bat.jpg" alt="Bat" class="img-thumbnail" width="340px">
    </div>
</div>

{{> footer}}